{% extends "card_base.html" %}

{% block form %}
<h3 align="center">Добавление предметов</h3>
<form action="" method="post">
    {{form.hidden_tag()}}
    <p>
        {{ form.amount.label }}<br>
        {{ form.amount(class="form-control")}}<br>
        {% for error in form.amount.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </p>
    <p>{{form.submit(type="submit", class="btn btn-primary")}}</p>
    <div>{{ message }}</div>
</form>

{% endblock %}