{% macro create_card(lessons, day) %}

<div class="card diary-card">
    <h4 align="center" valign="top">{{weekdays[day]}} {{formatted_date[day]}}</h4>

    {% if lessons|length != 0 %}
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Предмет</th>
            <th scope="col">Домашнее задание</th>
        </tr>
        </thead>
        {% for item in lessons %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <span align="center" style="margin:1rem">Нет занятий</span>
    {% endif %}
</div>

{% endmacro %}


{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col diary-col">
            <div class="diary-header card d-flex justify-content-between">
                <a href="{{prev_url}}" class="btn btn-outline-secondary active" role="button" aria-pressed="true">Предыдущая неделя</a>
                <a href="{{next_url}}" class="btn btn-outline-secondary active" role="button" aria-pressed="true">Следующая неделя</a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 diary-col">{{create_card(lessons[0], 0)}}</div>
        <div class="col-md-6 diary-col">{{create_card(lessons[1], 1)}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 diary-col">{{create_card(lessons[2], 2)}}</div>
        <div class="col-md-6 diary-col">{{create_card(lessons[3], 3)}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 diary-col">{{create_card(lessons[4], 4)}}</div>
        <div class="col-md-6 diary-col">{{create_card(lessons[5], 5)}}</div>
    </div>
</div>

{% if is_admin %}
<div style="margin: 1rem">
    <a href="{{edit_url}}" class="float-right btn btn-primary active" role="button" aria-pressed="true">Редактировать</a>
    <a href="{{back_url}}" class="btn btn-primary active" role="button" aria-pressed="true">Назад</a>
</div>
{% endif %}

{% endblock %}