{% macro create_card(lessons, day) %}

<div class="card diary-card">
    <h4 align="center" valign="top">{{weekdays[day]}} {{formatted_date[day]}}</h4>
    {% if lessons|length != 0 %}
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Предмет</th>
            <th scope="col">Домашнее задание</th>
            <th scope="col"></th>
        </tr>
        </thead>
        {% for item in lessons %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td><a class="btn btn-warning btn-sm" href="/class/{{class_id}}/diary/edit_lesson/{{item[2]}}"><i class="fa fa-edit"></i>
            </a><a class="btn btn-danger btn-sm" href="/class/{{class_id}}/diary/delete_lesson/{{item[2]}}"><i class="fa fa-edit"></i></a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <span align="center" style="margin:1rem">Нет занятий</span>
    {% endif %}
    <button type="button" class="btn btn-link"><a href="/class/{{class_id}}/diary/add_lesson/{{year}}/{{week}}/{{day + 1}}">Добавить</a></button>
</div>

{% endmacro %}


{% extends 'base.html' %}

{% block content %}

<div class="container">
    </div>
    <div class="row">
        <div class="col-md-6 diary-col">{{create_card(lessons[0], 0)}}</div>
        <div class="col-md-6 diary-col">{{create_card(lessons[1], 1)}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 diary-col">{{create_card(lessons[2], 2)}}</div>
        <div class="col-md-6 diary-col">{{create_card(lessons[3], 3)}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 diary-col">{{create_card(lessons[4], 4)}}</div>
        <div class="col-md-6 diary-col">{{create_card(lessons[5], 5)}}</div>
    </div>
</div>

<div style="margin: 1rem">
    <a href="{{back_url}}" class="btn btn-primary active" role="button" aria-pressed="true">Вернуться</a>
    <a href="{{fill_schedule_url}}" class="btn btn-primary active float-right" role="button" aria-pressed="true">Заполнить расписание</a>
    <a href="{{delete_schedule_url}}" class="btn btn-danger active float-right" role="button" aria-pressed="true">Удалить расписание</a>
</div>


{% endblock %}