{% macro schedule_table(day_schedule) %}
<table class="table table-striped table-light">
    {% for subject in day_schedule %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{subject}}</td>
    </tr>
    {% endfor %}
</table>
{% endmacro %}


{% extends "base.html" %}

{% block content %}

<br>
<div class="d-flex justify-content-center" style="flex-direction: row">
    <h3 align="center">{{class_.name}}</h3>
    {% if is_creator %}
    <a href="/class/{{class_.id}}/settings" type="button" class="btn btn-outline-light" style="margin-left: 1rem">Настройки</a>
    {% endif %}
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col d-flex justify-content-center">
            <div class="card schedule w-100">
                <h3 align="center">Расписание занятий</h3>
                {% if not schedule %}
                {% if is_admin %}
                <button type="button" class="btn btn-link"><a
                        href="/class/{{class_.id}}/add_schedule/days">Добавить</a></button>
                {% else %}
                <span class="align-center">Нет расписания</span>
                {% endif %}
                {% else %}
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#mon">Пн</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tue">Вт</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#wed">Ср</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#thu">Чт</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#fri">Пт</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#sat">Сб</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="mon">{{schedule_table(schedule[1])}}
                    </div>
                    <div class="tab-pane fade" id="tue">{{schedule_table(schedule[2])}}</div>
                    <div class="tab-pane fade" id="wed">{{schedule_table(schedule[3])}}</div>
                    <div class="tab-pane fade" id="thu">{{schedule_table(schedule[4])}}</div>
                    <div class="tab-pane fade" id="fri">{{schedule_table(schedule[5])}}</div>
                    <div class="tab-pane fade" id="sat">{{schedule_table(schedule[6])}}</div>
                </div>
                {% if is_admin %}
                <button type="button" class="btn btn-link"><a
                        href="/class/{{class_.id}}/add_schedule/days">Изменить</a></button>
                {% endif %}
                {% endif %}
                <a href="{{diary_url}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Перейти
                    в дневник</a>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card subjects w-100">
                <h3 align="center">Предметы</h3>
                <table class="table table-light">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Предмет</th>

                    </tr>
                    </thead>
                    {% for item in class_subjects %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{item}}</td>
                    </tr>
                    {% endfor %}

                </table>
                {% if is_admin %}
                <button type="button" class="btn btn-link"><a
                        href="/class/{{class_.id}}/add_subjects/amount">Изменить</a></button>
                {% endif %}

            </div>

        </div>
    </div>

    <div class="col d-flex justify-content-center">


        <div class="card members w-100 d-flex justify-content-between">
            <div>
                <h3 align="center">Участники</h3>
                <table class="table table-light table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Статус</th>
                        {% if is_creator %}
                        <th scope="col"></th>
                        {% endif %}

                    </tr>
                    </thead>
                    {% for member in members %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{member['username']}}</td>
                        <td>{{member['status']}}</td>
                        {% if is_creator and member['id'] != current_user.id %}
                        <td>
                            <div class="btn-group dropright">
                                <button type="button"
                                        class="btn btn-sm btn-light dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                </button>
                                <div class="dropdown-menu">
                                    {% if member['status'] == 'Администратор' and is_creator %}
                                    <a class="dropdown-item" href="/class/{{class_.id}}/unset_admin/{{member['id']}}">Разжаловать
                                        администратора</a>
                                    {% elif member['status'] != 'Администратор' and is_creator %}
                                    <a class="dropdown-item" href="/class/{{class_.id}}/set_admin/{{member['id']}}">Назначить
                                        администратором</a>
                                    {% endif %}
                                    {% if is_creator %}
                                    <a class="dropdown-item"
                                       href="/class/{{class_.id}}/kick/{{member['id']}}">Исключить</a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm"></span>
                </div>
                <textarea class="form-control" readonly="readonly" style="resize: none">{{url_join}}</textarea>

            </div>
        </div>


    </div>
</div>


{% endblock %}